@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ga+Maamli&family=Permanent+Marker&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: rgb(14, 14, 14);
}

::-webkit-scrollbar {
  background: #000;
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: #f59e0b;
  border-radius: 50px;
}

.dg::before {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    360deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0) 25%,
    rgba(0, 0, 0, 0) 75%,
    rgba(0, 0, 0, 1) 105%
  );
}

.bgBT::before {
  background: rgb(245, 158, 11);
  background: linear-gradient(
    360deg,
    rgba(255, 230, 188, 0.123) -10%,
    rgba(0, 0, 0, 0) 100%
  );
}
